<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>草稿 - 中山建设监理建筑工程文档协同管理系统</title>

		<meta name="description" content="frequently asked questions using tabs and accordions" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="<?php echo base_url()."assets/css/bootstrap.min.css"?>" />
		<link rel="stylesheet" href="<?php echo base_url()."assets/font-awesome/4.5.0/css/font-awesome.min.css"?>" />

		<!-- page specific plugin styles -->
        <link rel="stylesheet" href="<?php echo base_url()."assets/css/bootstrap-duallistbox.min.css"?>" />
        <link rel="stylesheet" href="<?php echo base_url()."assets/css/bootstrap-multiselect.min.css"?>" />
        <link rel="stylesheet" href="<?php echo base_url()."assets/css/select2.min.css"?>" />
        <link rel="stylesheet" href="<?php echo base_url()."assets/css/jquery-ui.min.css"?>" />
        <link rel="stylesheet" href="<?php echo base_url()."assets/css/dropzone.min.css"?>" />
        
		<!-- text fonts -->
		<link rel="stylesheet" href="<?php echo base_url()."assets/css/fonts.googleapis.com.css"?>" />

		<!-- ace styles -->
        <link rel="stylesheet" href="<?php echo base_url()."assets/css/ace.min.css"?>" class="ace-main-stylesheet" id="main-ace-style" />
        
        <!--self css-->
        <link rel="stylesheet" href="<?php echo base_url()."assets/css/self/self.css"?>" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="<?php echo base_url()."assets/css/ace-part2.min.css"?>" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="<?php echo base_url()."assets/css/ace-skins.min.css"?>" />
		<link rel="stylesheet" href="<?php echo base_url()."assets/css/ace-rtl.min.css"?>" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="<?php echo base_url()."assets/css/ace-ie.min.css"?>" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="<?php echo base_url()."assets/js/ace-extra.min.js"?>"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="<?php echo base_url()."assets/js/html5shiv.min.js"?>"></script>
		<script src="<?php echo base_url()."assets/js/respond.min.js"?>"></script>
		<![endif]-->
	</head>

	<body class="no-skin">
		<!--Top Begin-->
        <?php $this->load->view("pageTop.html"); ?>
        <!--Top End-->

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try {
					ace.settings.loadState('main-container')
				} catch(e) {}
			</script>

			<!--LeftTree Begin-->
            <?php $this->load->view("pageLeft.html"); ?>
            <!--LeftTree End-->

			<div class="main-content">
				<div class="col-xs-6">
					<div class="widget-box widget-color-blue" id="widget-box-2">
						<div class="widget-header">
							<h5 class="widget-title bigger lighter">
								<i class="ace-icon fa fa-table"></i>
								<span>文档列表</span>
								<button type="button" class="btn btn-danger btn-AddMes spinbox-up btn-sm" href="#modal-addNew" data-toggle="modal">
    							    <i class="icon-only ace-icon ace-icon fa fa-plus bigger-110"></i>
    							</button>
							</h5>
						</div>
						<div class="widget-body">
							<div class="widget-main no-padding">
							    <!--tabMes begin-->
								<?php $this->load->view('tabInside.html'); ?>
								<!--tabMes begin-->
							</div>
						</div>
					</div>
				</div>
				<!--document mess begin-->
				<?php $this->load->view("doc_attr.html"); ?>
				<!--document mess end-->
                
                <!--model part begin-->
                <?php $this->load->view('page_model.html'); ?>
                <!--model part begin-->
                
			</div>

			<!--Foor Begin-->
            <?php $this->load->view("pageFoot.html"); ?>
            <!--Foot End-->
		</div>
		<!-- /.main-content -->
		
		<!-- basic scripts -->
		<script src="<?php echo base_url()."assets/js/jquery-2.1.4.min.js"?>"></script>
		<script src="<?php echo base_url()."assets/js/bootstrap.min.js"?>"></script>
		<script src="<?php echo base_url()."assets/js/ace-elements.min.js"?>"></script>
		<script src="<?php echo base_url()."assets/js/ace.min.js"?>"></script>
		
        <script src="<?php echo base_url()."assets/js/markdown.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/bootstrap-markdown.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/jquery.hotkeys.index.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/bootstrap-wysiwyg.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/bootbox.js"?>"></script>
        
        <!--about select-->
        <script src="<?php echo base_url()."assets/js/jquery.bootstrap-duallistbox.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/jquery.raty.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/bootstrap-multiselect.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/select2.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/jquery-typeahead.js"?>"></script>
        
        <!--about model-->
        <script src="<?php echo base_url()."assets/js/jquery-ui.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/jquery.ui.touch-punch.min.js"?>"></script>

        <!--about datatable-->
        <script src="<?php echo base_url()."assets/js/jquery.dataTables.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/jquery.dataTables.bootstrap.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/dataTables.buttons.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/buttons.flash.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/buttons.html5.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/buttons.print.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/buttons.colVis.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/dataTables.select.min.js"?>"></script>
        
        <!--file upload-->
        <script src="<?php echo base_url()."assets/js/dropzone.min.js"?>"></script>
		
		<!-- inline scripts related to this page -->
		<script src="<?php echo base_url()."assets/js/self/Show_LeftTreeA.js"?>"></script>
		<script src="<?php echo base_url()."assets/js/self/DocOwn.js"?>"></script>
		<script type="text/javascript">
            jQuery(function($) {
                //initiate dataTables plugin
                var myTable = 
                $('#dynamic-table')
                //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                .DataTable( {
                    bAutoWidth: false,
                    "aoColumns": [
                      { "bSortable": false },
                      null, null,null, null, null,
                      { "bSortable": false }
                    ],
                    "aaSorting": [],
                    
                    
                    //"bProcessing": true,
                    //"bServerSide": true,
                    //"sAjaxSource": "http://127.0.0.1/table.php"   ,
            
                    //,
                    //"sScrollY": "200px",
                    //"bPaginate": false,
            
                    //"sScrollX": "100%",
                    //"sScrollXInner": "120%",
                    //"bScrollCollapse": true,
                    //Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
                    //you may want to wrap the table inside a "div.dataTables_borderWrap" element
            
                    //"iDisplayLength": 50
            
            
                    select: {
                        style: 'multi'
                    }
                } );
            
                
                
                $.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';
                
                new $.fn.dataTable.Buttons( myTable, {
                    buttons: [
                      {
                        "extend": "colvis",
                        "text": "<i class='fa fa-search bigger-110 blue'></i> <span class='hidden'>Show/hide columns</span>",
                        "className": "btn btn-white btn-primary btn-bold",
                        columns: ':not(:first):not(:last)'
                      },
                      {
                        "extend": "copy",
                        "text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
                        "className": "btn btn-white btn-primary btn-bold"
                      },
                      {
                        "extend": "csv",
                        "text": "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>Export to CSV</span>",
                        "className": "btn btn-white btn-primary btn-bold"
                      },
                      {
                        "extend": "excel",
                        "text": "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
                        "className": "btn btn-white btn-primary btn-bold"
                      },
                      {
                        "extend": "pdf",
                        "text": "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
                        "className": "btn btn-white btn-primary btn-bold"
                      },
                      {
                        "extend": "print",
                        "text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
                        "className": "btn btn-white btn-primary btn-bold",
                        autoPrint: false,
                        message: 'This print was produced using the Print button for DataTables'
                      }       
                    ]
                } );
                myTable.buttons().container().appendTo( $('.tableTools-container') );
                
                //style the message box
                var defaultCopyAction = myTable.button(1).action();
                myTable.button(1).action(function (e, dt, button, config) {
                    defaultCopyAction(e, dt, button, config);
                    $('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
                });
                
                
                var defaultColvisAction = myTable.button(0).action();
                myTable.button(0).action(function (e, dt, button, config) {
                    
                    defaultColvisAction(e, dt, button, config);
                    
                    
                    if($('.dt-button-collection > .dropdown-menu').length == 0) {
                        $('.dt-button-collection')
                        .wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
                        .find('a').attr('href', '#').wrap("<li />")
                    }
                    $('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
                });
            
                ////
            
                setTimeout(function() {
                    $($('.tableTools-container')).find('a.dt-button').each(function() {
                        var div = $(this).find(' > div').first();
                        if(div.length == 1) div.tooltip({container: 'body', title: div.parent().text()});
                        else $(this).tooltip({container: 'body', title: $(this).text()});
                    });
                }, 500);
                
                
                
                
                
                myTable.on( 'select', function ( e, dt, type, index ) {
                    if ( type === 'row' ) {
                        $( myTable.row( index ).node() ).find('input:checkbox').prop('checked', true);
                    }
                } );
                myTable.on( 'deselect', function ( e, dt, type, index ) {
                    if ( type === 'row' ) {
                        $( myTable.row( index ).node() ).find('input:checkbox').prop('checked', false);
                    }
                } );
            
            
            
            
                /////////////////////////////////
                //table checkboxes
                $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);
                
                //select/deselect all rows according to table header checkbox
                $('#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function(){
                    var th_checked = this.checked;//checkbox inside "TH" table header
                    
                    $('#dynamic-table').find('tbody > tr').each(function(){
                        var row = this;
                        if(th_checked) myTable.row(row).select();
                        else  myTable.row(row).deselect();
                    });
                });
                
                //select/deselect a row when the checkbox is checked/unchecked
                $('#dynamic-table').on('click', 'td input[type=checkbox]' , function(){
                    var row = $(this).closest('tr').get(0);
                    if(this.checked) myTable.row(row).deselect();
                    else myTable.row(row).select();
                });
            
            
            
                $(document).on('click', '#dynamic-table .dropdown-toggle', function(e) {
                    e.stopImmediatePropagation();
                    e.stopPropagation();
                    e.preventDefault();
                });
                
                
                
                //And for the first simple table, which doesn't have TableTools or dataTables
                //select/deselect all rows according to table header checkbox
                var active_class = 'active';
                $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
                    var th_checked = this.checked;//checkbox inside "TH" table header
                    
                    $(this).closest('table').find('tbody > tr').each(function(){
                        var row = this;
                        if(th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                        else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
                    });
                });
                
                //select/deselect a row when the checkbox is checked/unchecked
                $('#simple-table').on('click', 'td input[type=checkbox]' , function(){
                    var $row = $(this).closest('tr');
                    if($row.is('.detail-row ')) return;
                    if(this.checked) $row.addClass(active_class);
                    else $row.removeClass(active_class);
                });
            
                
            
                /********************************/
                //add tooltip for small view action buttons in dropdown menu
                $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
                
                //tooltip placement on right or left
                function tooltip_placement(context, source) {
                    var $source = $(source);
                    var $parent = $source.closest('table')
                    var off1 = $parent.offset();
                    var w1 = $parent.width();
            
                    var off2 = $source.offset();
                    //var w2 = $source.width();
            
                    if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
                    return 'left';
                }
                
                
                
                
                /***************/
                $('.show-details-btn').on('click', function(e) {
                    e.preventDefault();
                    $(this).closest('tr').next().toggleClass('open');
                    $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
                });
                /***************/
                
                
                
                
                
                /**
                //add horizontal scrollbars to a simple table
                $('#simple-table').css({'width':'2000px', 'max-width': 'none'}).wrap('<div style="width: 1000px;" />').parent().ace_scroll(
                  {
                    horizontal: true,
                    styleClass: 'scroll-top scroll-dark scroll-visible',//show the scrollbars on top(default is bottom)
                    size: 2000,
                    mouseWheelLock: true
                  }
                ).css('padding-top', '12px');
                */
               
               
               
                /*
                * file upload
                */
               try {
                  Dropzone.autoDiscover = false;
                
                  var myDropzone = new Dropzone('#dropzone', {
                    previewTemplate: $('#preview-template').html(),
                    
                    thumbnailHeight: 120,
                    thumbnailWidth: 120,
                    maxFilesize: 0.5,
                    
                    //addRemoveLinks : true,
                    //dictRemoveFile: 'Remove',
                    
                    dictDefaultMessage :
                    '<span class="bigger-150 bolder"><i class="ace-icon fa fa-caret-right red"></i> 拖拽文件</span> \
                    <span class="smaller-80 grey">或点选文件进行选择</span> <br /> \
                    <i class="upload-icon ace-icon fa fa-cloud-upload blue fa-3x"></i>'
                ,
                    
                    thumbnail: function(file, dataUrl) {
                      if (file.previewElement) {
                        $(file.previewElement).removeClass("dz-file-preview");
                        var images = $(file.previewElement).find("[data-dz-thumbnail]").each(function() {
                            var thumbnailElement = this;
                            thumbnailElement.alt = file.name;
                            thumbnailElement.src = dataUrl;
                        });
                        setTimeout(function() { $(file.previewElement).addClass("dz-image-preview"); }, 1);
                      }
                    }
                
                  });
                
                
                  //simulating upload progress
                  var minSteps = 6,
                      maxSteps = 60,
                      timeBetweenSteps = 100,
                      bytesPerStep = 100000;
                
                  myDropzone.uploadFiles = function(files) {
                    var self = this;
                
                    for (var i = 0; i < files.length; i++) {
                      var file = files[i];
                          totalSteps = Math.round(Math.min(maxSteps, Math.max(minSteps, file.size / bytesPerStep)));
                
                      for (var step = 0; step < totalSteps; step++) {
                        var duration = timeBetweenSteps * (step + 1);
                        setTimeout(function(file, totalSteps, step) {
                          return function() {
                            file.upload = {
                              progress: 100 * (step + 1) / totalSteps,
                              total: file.size,
                              bytesSent: (step + 1) * file.size / totalSteps
                            };
                
                            self.emit('uploadprogress', file, file.upload.progress, file.upload.bytesSent);
                            if (file.upload.progress == 100) {
                              file.status = Dropzone.SUCCESS;
                              self.emit("success", file, 'success', null);
                              self.emit("complete", file);
                              self.processQueue();
                            }
                          };
                        }(file, totalSteps, step), duration);
                      }
                    }
                   }
                
                   
                   //remove dropzone instance when leaving this page in ajax mode
                   $(document).one('ajaxloadstart.page', function(e) {
                        try {
                            myDropzone.destroy();
                        } catch(e) {}
                   });
                
                } catch(e) {
                  alert('Dropzone.js does not support older browsers!');
                }
                
                /*
                 * 时间选择
                 */
                $( "#datepicker" ).datepicker({
                    showOtherMonths: true,
                    selectOtherMonths: false,
//                  isRTL:true,
                    beforeShow: function() {
                        //change button colors
                        var datepicker = $(this).datepicker( "widget" );
                        setTimeout(function(){
                            var buttons = datepicker.find('.ui-datepicker-buttonpane')
                            .find('button');
                            buttons.eq(0).addClass('btn btn-xs');
                            buttons.eq(1).addClass('btn btn-xs btn-success');
                            buttons.wrapInner('<span class="bigger-110" />');
                        }, 0);
                    }
                    
                    /*
                    changeMonth: true,
                    changeYear: true,
                    
                    showButtonPanel: true,
                    
            */
                });
            
            })
        </script>
	</body>

</html>