<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>表单模板类型设置 - 中山建设监理建筑工程文档协同管理系统</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="<?php echo base_url()."assets/css/bootstrap.min.css"?>" />
		<link rel="stylesheet" href="<?php echo base_url()."assets/font-awesome/4.5.0/css/font-awesome.min.css"?>" />

		<!-- page specific plugin styles -->
		
		<!--tree-->
        <link rel="stylesheet" href="<?php echo base_url()."assets/tree_LigerUI/css/ligerui-tree.css"?>" type="text/css" />

		<!-- text fonts -->
		<link rel="stylesheet" href="<?php echo base_url()."assets/css/fonts.googleapis.com.css"?>" />

		<!-- ace styles -->
        <link rel="stylesheet" href="<?php echo base_url()."assets/css/ace.min.css"?>" class="ace-main-stylesheet" id="main-ace-style" />
        
        <!--self css-->
        <link rel="stylesheet" href="<?php echo base_url()."assets/css/self/self.css"?>" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="<?php echo base_url()."assets/css/ace-part2.min.css"?>" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="<?php echo base_url()."assets/css/ace-skins.min.css"?>" />
		<link rel="stylesheet" href="<?php echo base_url()."assets/css/ace-rtl.min.css"?>" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="<?php echo base_url()."assets/css/ace-ie.min.css"?>" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="<?php echo base_url()."assets/js/ace-extra.min.js"?>"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="<?php echo base_url()."assets/js/html5shiv.min.js"?>"></script>
		<script src="<?php echo base_url()."assets/js/respond.min.js"?>"></script>
		<![endif]-->
	</head>

	<body class="no-skin">
		<!--Top Begin-->
        <?php $this->load->view("pageTop.html"); ?>
        <!--Top End-->

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try {
					ace.settings.loadState('main-container')
				} catch(e) {}
			</script>

			<!--LeftTree Begin-->
            <?php $this->load->view("pageLeft.html"); ?>
            <!--LeftTree End-->

			<div class="main-content">
			    <div class="col-xs-12">
                    <div class="widget-box">
                        <div class="widget-header widget-header-flat">
                            <h4 class="widget-title smaller">
                                <span>模板列表</span>
                            </h4>
                        </div>
                        <div class="widget-body">
                            <div class="widget-body">
                                <div class="widget-main padding-8">
                                    <input type="text" class="l-text" placeholder="节点名" id="txtNode" /> 
                                    <a class="btn btn-primary" onclick="addTreeItem()">增加节点</a>
                                    <a class="btn btn-danger" onclick="removeTreeItem()">删除节点</a>
                                    <a class="btn btn-warning" href="<?php echo site_url('System/systemShow_Form') ?>">撤销操作</a>
                                    <a class="btn btn-success" onclick="SaveNoid()">保存修改</a>
                                    <br />
                                    <br />
                                    <div class="noidSet">
                                        <ul class="l-tree"></ul>
                                    </div>
                                    <div style="display:none"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- /.main-content -->

			<!--Foor Begin-->
            <?php $this->load->view("pageFoot.html"); ?>
            <!--Foot End-->
            
		</div>
		<!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="<?php echo base_url()."assets/js/jquery-2.1.4.min.js"?>"></script>

		<!-- <![endif]-->

		<!--[if IE]>
        <script src="<?php echo base_url()."assets/js/jquery-1.11.3.min.js"?>"></script>
        <![endif]-->
		<script src="<?php echo base_url()."assets/js/bootstrap.min.js"?>"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="<?php echo base_url()."assets/js/excanvas.min.js"?>"></script>
		<![endif]-->
		<script src="<?php echo base_url()."assets/js/jquery-ui.custom.min.js"?>"></script>
		<script src="<?php echo base_url()."assets/js/jquery.ui.touch-punch.min.js"?>"></script>
		<script src="<?php echo base_url()."assets/js/jquery.sparkline.index.min.js"?>"></script>
        <script src="<?php echo base_url()."assets/js/jquery-ui.min.js"?>"></script>
        
        <!--tree-->
        <script src="<?php echo base_url()."assets/tree_LigerUI/js/base.js"?>"></script>
        <script src="<?php echo base_url()."assets/tree_LigerUI/js/ligerTree.js"?>"></script>
        
		<!-- ace scripts -->
		<script src="<?php echo base_url()."assets/js/ace-elements.min.js"?>"></script>
		<script src="<?php echo base_url()."assets/js/ace.min.js"?>"></script>

		<!-- inline scripts related to this page -->
		<script src="<?php echo base_url()."assets/js/self/Show_LeftTreeA.js"?>"></script>
		
		<script type="text/javascript">
		    var manager = null;
		    var delNoid = '';
		    var addNoidMes = '';
		    var addNoid = '';
		    var IdNum = 99999999;
		    var ParId = '';
			jQuery(function($) {
			    sessionStorage.setItem('addNoid','');
			    var show = "<?php echo site_url('System/TreeShow'); ?>";
			    $.ajax({
			    	type:"post",
			    	url:show,
			    	async:true,
			    	dataType:'json',
			    	success:function(data)
			    	{
                        manager = $(".l-tree").ligerTree({
                            data:data, 
                            idFieldName :'id',
                            parentIDFieldName :'ParIdS',
                            checkbox: false, 
                            ajaxType: 'post',
                            isexpand:false,
                            btnClickToToggleOnly:false,
                        });
			    	},
			    	error:function(s,t,e)
			    	{
			    	    console.log(s,t,e);
			    	}
			    })
			})
            function addTreeItem()
            {
                if ($("#txtNode").val()) 
                {
                    addNoidMes = '';
                    ParId = '';
                    addNoid = sessionStorage.getItem('addNoid');
                	var node = manager.getSelected();
                    var nodes = [];
                    nodes.push({ id:IdNum,text: $("#txtNode").val() });
                    if (node) 
                    {
                        manager.append(node.target, nodes);
                        ParId = $('#'+IdNum).parent('ul').parent('li').attr('id');
                    }
                    else 
                    {
                        manager.append(null, nodes);
                        ParId = '0';
                    }
                    addNoidMes = IdNum +','+ ParId +','+ $("#txtNode").val();
                    addNoid += addNoidMes +'/';
                    sessionStorage.setItem('addNoid',addNoid);
                    console.log(sessionStorage.getItem('addNoid'));
                    IdNum++;
                    return;
                }
                alert('请输入节点名后再进行操作');
            }
            function removeTreeItem()
            {
                var node = manager.getSelected();
                if (node)
                {
                    delNoid = delNoid + node.data.id + '/';
                    sessionStorage.setItem('delNoid',delNoid);
                    manager.remove(node.target);
                }
                else
                    alert('请先选择节点');
            }
            function SaveNoid()
            {
                var AddNoid = sessionStorage.getItem('addNoid');
                if (AddNoid) 
                {
                	AddNoid = AddNoid.substr(0,AddNoid.length-1);
                }
                var DelNoid = sessionStorage.getItem('delNoid');
                if (DelNoid) 
                {
                    DelNoid = DelNoid.substr(0,DelNoid.length-1);
                }
                var MesSave = "<?php echo site_url('System/TreeEditSave'); ?>";
                $.ajax({
                	type:"post",
                	url:MesSave,
                	async:true,
                	data:
                	{
                	    DelNoid:DelNoid,
                	    AddNoid:AddNoid,
                	},
                	success:function (data)
                	{
                	    alert('成功修改模板列表');
                	    location.reload();
                	},
                	error:function (s,t,e)
                	{
                	    console.log(s,t,e);
                	}
                });
            }
		</script>
	</body>

</html>