<!--file upload begin-->
<!--<div id="modal-fileUpload" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    <span>上传附件</span>
                </div>
            </div>
            <div class="modal-body no-padding">-->
                <!--测试部分-->
                
                
                <!--<div class="form-group has-info  page-header">
                    <label class="col-sm-3 control-label no-padding-right">抄送对象 ：</label>
                    <div class="col-sm-5">
                        <span class="block input-icon input-icon-right">
                            <input class="NewDocMes" type="text" id="" />
                        </span>
                    </div>
                    <div class="help-block col-xs-12 col-sm-reset inline"> </div>
                </div>
                
                <div class="col-sm-8">
                    <select multiple="multiple" size="10" name="duallistbox_demo1[]" id="duallist">
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3" selected="selected">Option 3</option>
                        <option value="option4">Option 4</option>
                        <option value="option5">Option 5</option>
                        <option value="option6" selected="selected">Option 6</option>
                        <option value="option7">Option 7</option>
                        <option value="option8">Option 8</option>
                        <option value="option9">Option 9</option>
                        <option value="option0">Option 10</option>
                    </select>

                    <div class="hr hr-16 hr-dotted"></div>
                </div>-->
                
                
                
                
                
                
                
                <div id="modal-fileUpload" class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div id="modal-wizard-container">
                                <div class="modal-header no-padding">
                                    <div class="table-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            <span class="white">&times;</span>
                                        </button>
                                        <span>上传附件</span>
                                    </div>
                                </div>

                                <div class="modal-body step-content">
                                    <div class="col-sm-8">
                                        <select multiple="multiple" size="10" name="duallistbox_demo1[]" id="duallist">
                                            <option value="option1">Option 1</option>
                                            <option value="option2">Option 2</option>
                                            <option value="option3" selected="selected">Option 3</option>
                                            <option value="option4">Option 4</option>
                                            <option value="option5">Option 5</option>
                                            <option value="option6" selected="selected">Option 6</option>
                                            <option value="option7">Option 7</option>
                                            <option value="option8">Option 8</option>
                                            <option value="option9">Option 9</option>
                                            <option value="option0">Option 10</option>
                                        </select>
                                        <div class="hr hr-16 hr-dotted"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer wizard-actions">
                                <button class="btn btn-sm btn-success pull-right" data-dismiss="">
                                    <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                    <span>保存</span>
                                </button>
                                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                                    <i class="ace-icon fa fa-times"></i>
                                    <span>关闭</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                
                
                
                
                
                
                
                
                <!--测试部分-->
            <!--</div>
            <br /><br />
            <div class="modal-footer no-margin-top">
                <button class="btn btn-sm btn-success pull-right" data-dismiss="">
                    <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                    <span>保存</span>
                </button>
                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    <span>关闭</span>
                </button>
            </div>
        </div>
    </div>
</div>-->
<!--file upload end-->