/*
 * 使菜单栏无法点击
 */
.NoAction {
    color: gray;
    /*cursor: pointer;*/
    pointer-events: none;
}
/*
 * 增加按钮的位置
 */
.btn-AddMes {
    margin-right: 5px;
    margin-top:2px;
    float: right;
}
/*
 * 新增文档的输入框样式
 */
.NewDocMes {
    width: 180%;
}
/*
 * 日期选择
 */
.input-group .datepicker {
    z-index: 100000 !important;;
}
